<!-- <div class="tab-pane fade show active" id="login-candidate">
    <div class="row">

        <div class="col-lg-12">
            <div class="form-group mb-3">
                <input name="username" type="text" required="" class="form-control"
                    placeholder="Usearname*">
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group mb-3">
                <input name="email" type="text" class="form-control" required=""
                    placeholder="Password*">
            </div>
        </div>


        <div class="col-lg-12">
            <div class="form-group mb-3">
                <div class=" form-check">
                    <input type="checkbox" class="form-check-input" id="Password3">
                    <label class="form-check-label rem-forgot"
                        for="Password3">Remember me <a href="javascript:;">Forgot
                            Password</a></label>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="site-button">Log in</button>
            <div class="mt-3 mb-3">Don't have an account ?
                <button class="twm-backto-login" data-bs-target="#sign_up_popup"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Sign Up</button>
            </div>
        </div>

    </div>
</div>
<!--Login Employer Content-->
<div class="tab-pane fade" id="login-Employer">
    <div class="row">

        <div class="col-lg-12">
            <div class="form-group mb-3">
                <input name="username" type="text" required="" class="form-control"
                    placeholder="Usearname*">
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group mb-3">
                <input name="email" type="text" class="form-control" required=""
                    placeholder="Password*">
            </div>
        </div>


        <div class="col-lg-12">
            <div class="form-group mb-3">
                <div class=" form-check">
                    <input type="checkbox" class="form-check-input" id="Password4">
                    <label class="form-check-label rem-forgot"
                        for="Password4">Remember me <a href="javascript:;">Forgot
                            Password</a></label>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="site-button">Log in</button>
            <div class="mt-3 mb-3">Don't have an account ?
                <button class="twm-backto-login" data-bs-target="#sign_up_popup"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Sign Up</button>
            </div>
        </div>

    </div>
</div> -->