{% load static %}

<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="{% static 'js/jquery-3.6.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script  src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script  src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script  src="{% static 'js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script  src="{% static 'js/dropzone.js' %}"></script><!-- IMAGE UPLOAD  -->
<script  src="{% static 'js/jquery.scrollbar.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/bootstrap-datepicker.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/jquery.dataTables.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/chart.js' %}"></script><!-- Chart -->
<script  src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->